main {
  display: flex;
  justify-content: center;
}

#box-container {
  width: 980px;
  height: 735px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 32px;
}

aside {
  display: flex;
  flex-direction: column;
}
